<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m1_trap_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,68}</string>
                <key>textureRect</key>
                <string>{{232,0},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1_trap_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{380,0},{67,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1_trap_0_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,67}</string>
                <key>spriteSourceSize</key>
                <string>{71,67}</string>
                <key>textureRect</key>
                <string>{{161,0},{71,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1_trap_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,132}</string>
                <key>spriteSourceSize</key>
                <string>{65,132}</string>
                <key>textureRect</key>
                <string>{{367,265},{65,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1_trap_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,131}</string>
                <key>spriteSourceSize</key>
                <string>{72,131}</string>
                <key>textureRect</key>
                <string>{{295,265},{72,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1_trap_0_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,329}</string>
                <key>spriteSourceSize</key>
                <string>{93,329}</string>
                <key>textureRect</key>
                <string>{{400,534},{93,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1_trap_0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,332}</string>
                <key>spriteSourceSize</key>
                <string>{78,332}</string>
                <key>textureRect</key>
                <string>{{0,863},{78,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{219,142},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{69,88}</string>
                <key>textureRect</key>
                <string>{{291,142},{69,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{157,142},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,152}</string>
                <key>spriteSourceSize</key>
                <string>{70,152}</string>
                <key>textureRect</key>
                <string>{{244,534},{70,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,133}</string>
                <key>spriteSourceSize</key>
                <string>{80,133}</string>
                <key>textureRect</key>
                <string>{{0,397},{80,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,346}</string>
                <key>spriteSourceSize</key>
                <string>{80,346}</string>
                <key>textureRect</key>
                <string>{{93,1204},{80,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m2_trap_0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,347}</string>
                <key>spriteSourceSize</key>
                <string>{86,347}</string>
                <key>textureRect</key>
                <string>{{173,1204},{86,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{0,68},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,65}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{0,142},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,136}</string>
                <key>spriteSourceSize</key>
                <string>{79,136}</string>
                <key>textureRect</key>
                <string>{{220,397},{79,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,137}</string>
                <key>spriteSourceSize</key>
                <string>{91,137}</string>
                <key>textureRect</key>
                <string>{{299,397},{91,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{74,265},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,336}</string>
                <key>spriteSourceSize</key>
                <string>{81,336}</string>
                <key>textureRect</key>
                <string>{{166,863},{81,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m3_trap_0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,341}</string>
                <key>spriteSourceSize</key>
                <string>{88,341}</string>
                <key>textureRect</key>
                <string>{{321,863},{88,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{79,68},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,74}</string>
                <key>spriteSourceSize</key>
                <string>{87,74}</string>
                <key>textureRect</key>
                <string>{{70,142},{87,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,123}</string>
                <key>spriteSourceSize</key>
                <string>{87,123}</string>
                <key>textureRect</key>
                <string>{{360,142},{87,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,139}</string>
                <key>spriteSourceSize</key>
                <string>{79,139}</string>
                <key>textureRect</key>
                <string>{{0,534},{79,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,142}</string>
                <key>spriteSourceSize</key>
                <string>{81,142}</string>
                <key>textureRect</key>
                <string>{{79,534},{81,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,347}</string>
                <key>spriteSourceSize</key>
                <string>{89,347}</string>
                <key>textureRect</key>
                <string>{{259,1204},{89,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m4_trap_0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,351}</string>
                <key>spriteSourceSize</key>
                <string>{83,351}</string>
                <key>textureRect</key>
                <string>{{348,1204},{83,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{158,68},{65,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{380,68},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{81,67}</string>
                <key>textureRect</key>
                <string>{{80,0},{81,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,130}</string>
                <key>spriteSourceSize</key>
                <string>{68,130}</string>
                <key>textureRect</key>
                <string>{{154,265},{68,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,137}</string>
                <key>spriteSourceSize</key>
                <string>{83,137}</string>
                <key>textureRect</key>
                <string>{{390,397},{83,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,143}</string>
                <key>spriteSourceSize</key>
                <string>{84,143}</string>
                <key>textureRect</key>
                <string>{{160,534},{84,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,332}</string>
                <key>spriteSourceSize</key>
                <string>{88,332}</string>
                <key>textureRect</key>
                <string>{{78,863},{88,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m5_trap_0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,328}</string>
                <key>spriteSourceSize</key>
                <string>{86,328}</string>
                <key>textureRect</key>
                <string>{{314,534},{86,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{74,72}</string>
                <key>textureRect</key>
                <string>{{223,68},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,73}</string>
                <key>spriteSourceSize</key>
                <string>{83,73}</string>
                <key>textureRect</key>
                <string>{{297,68},{83,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{312,0},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,127}</string>
                <key>spriteSourceSize</key>
                <string>{74,127}</string>
                <key>textureRect</key>
                <string>{{0,265},{74,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,135}</string>
                <key>spriteSourceSize</key>
                <string>{79,135}</string>
                <key>textureRect</key>
                <string>{{80,397},{79,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,131}</string>
                <key>spriteSourceSize</key>
                <string>{73,131}</string>
                <key>textureRect</key>
                <string>{{222,265},{73,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,135}</string>
                <key>spriteSourceSize</key>
                <string>{61,135}</string>
                <key>textureRect</key>
                <string>{{159,397},{61,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,340}</string>
                <key>spriteSourceSize</key>
                <string>{74,340}</string>
                <key>textureRect</key>
                <string>{{247,863},{74,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m6_trap_0_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,343}</string>
                <key>spriteSourceSize</key>
                <string>{93,343}</string>
                <key>textureRect</key>
                <string>{{0,1204},{93,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>obstacles.png</string>
            <key>size</key>
            <string>{493,1555}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9de118b0602a07745f3de289bf76b227:e3816884537902c832dc1e70e7f88482:e239da905bb0b31c60e233c1e2b1bd7a$</string>
            <key>textureFileName</key>
            <string>obstacles.png</string>
        </dict>
    </dict>
</plist>
