<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm01_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm01_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm02_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,240},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm02_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,720},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background_map_1_2.png</string>
            <key>size</key>
            <string>{1200,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0065208c51f77e006c6911a3fa1ec77:72b7e3cded52c361f0b4068d72e6409d:8928d963bef474d58818b27773d93eba$</string>
            <key>textureFileName</key>
            <string>background_map_1_2.png</string>
        </dict>
    </dict>
</plist>
