<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm83_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm83_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm84_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm84_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background_map_83_84.png</string>
            <key>size</key>
            <string>{600,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c497fd74d1c84c61937e1fa5f84cbac8:ac60af633d338207527d2d5974ce1917:d6df7816e2ea0ed223bacf169ea34cff$</string>
            <key>textureFileName</key>
            <string>background_map_83_84.png</string>
        </dict>
    </dict>
</plist>
