<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm05_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm05_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm06_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm06_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,240}</string>
                <key>spriteSourceSize</key>
                <string>{600,240}</string>
                <key>textureRect</key>
                <string>{{1200,480},{600,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background_map_5_6.png</string>
            <key>size</key>
            <string>{1800,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e5779539bf1540166a1bf1e14601fe8:1b0f3e91f49398eb7d40eb8220ff6741:b486ca208950214d5b1695cb397758ae$</string>
            <key>textureFileName</key>
            <string>background_map_5_6.png</string>
        </dict>
    </dict>
</plist>
