<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tm03_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,0},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm03_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,480},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm04_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,960},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tm04_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,480}</string>
                <key>spriteSourceSize</key>
                <string>{1200,480}</string>
                <key>textureRect</key>
                <string>{{0,1440},{1200,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background_map_3_4.png</string>
            <key>size</key>
            <string>{1200,1920}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735f73065913599b8ad006b9c5f11dac:4da3d58e4ced75a1b846f257ae6de6f5:6d4255e4e3bfd9594d43adcde5050ec6$</string>
            <key>textureFileName</key>
            <string>background_map_3_4.png</string>
        </dict>
    </dict>
</plist>
