<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,39}</string>
                <key>spriteSourceSize</key>
                <string>{34,39}</string>
                <key>textureRect</key>
                <string>{{100,0},{34,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,39}</string>
                <key>spriteSourceSize</key>
                <string>{27,39}</string>
                <key>textureRect</key>
                <string>{{11,0},{27,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>I.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,39}</string>
                <key>spriteSourceSize</key>
                <string>{11,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{11,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{248,0},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>N.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,40}</string>
                <key>textureRect</key>
                <string>{{38,0},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>O.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{169,0},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{67,0},{33,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{134,0},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>U.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{208,0},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonustimeSlot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,46}</string>
                <key>spriteSourceSize</key>
                <string>{279,46}</string>
                <key>textureRect</key>
                <string>{{1444,0},{279,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpProgressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{611,29}</string>
                <key>spriteSourceSize</key>
                <string>{611,29}</string>
                <key>textureRect</key>
                <string>{{0,126},{611,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpProgressBarBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,31}</string>
                <key>spriteSourceSize</key>
                <string>{615,31}</string>
                <key>textureRect</key>
                <string>{{611,126},{615,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumpBtn_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{169,126}</string>
                <key>textureRect</key>
                <string>{{1060,0},{169,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumpBtn_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{169,126}</string>
                <key>textureRect</key>
                <string>{{891,0},{169,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{344,0},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_restart_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{54,90}</string>
                <key>textureRect</key>
                <string>{{290,0},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_restart_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{403,0},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_restart_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,90}</string>
                <key>textureRect</key>
                <string>{{478,0},{75,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_restart_go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,90}</string>
                <key>spriteSourceSize</key>
                <string>{215,90}</string>
                <key>textureRect</key>
                <string>{{1229,0},{215,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slideBtn_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{169,126}</string>
                <key>textureRect</key>
                <string>{{553,0},{169,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slideBtn_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{169,126}</string>
                <key>textureRect</key>
                <string>{{722,0},{169,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>layer_status_play.png</string>
            <key>size</key>
            <string>{1723,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9988b44f3713f42ed4e4333e9245d48c:e79e1b390e6460fb69f8cd83c4c7a688:607e3acec5b839e0fadb5a9577c1ecd1$</string>
            <key>textureFileName</key>
            <string>layer_status_play.png</string>
        </dict>
    </dict>
</plist>
