<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,284}</string>
                <key>spriteSourceSize</key>
                <string>{655,284}</string>
                <key>textureRect</key>
                <string>{{0,75},{655,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chu_ket_qua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,55}</string>
                <key>spriteSourceSize</key>
                <string>{186,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_to_lobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,75}</string>
                <key>spriteSourceSize</key>
                <string>{209,75}</string>
                <key>textureRect</key>
                <string>{{186,0},{209,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summaryBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{745,461}</string>
                <key>spriteSourceSize</key>
                <string>{745,461}</string>
                <key>textureRect</key>
                <string>{{0,359},{745,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gui_end_game.png</string>
            <key>size</key>
            <string>{745,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0a7f2aff8361082fde7f2de3da70d0f:046fe8afd4ee4b8c1cf096d965029d6c:fb9f0cc2bf3ef1e6d5db17efe0f7c4d8$</string>
            <key>textureFileName</key>
            <string>gui_end_game.png</string>
        </dict>
    </dict>
</plist>
