<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,152},{97,90}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{97,90}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,403},{101,86}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{101,86}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,298},{103,86}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,31},{103,86}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,101},{103,86}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{103,86}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{97,108}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{97,108}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,134},{15,106}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,3},{15,106}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,110},{35,106}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,3},{35,106}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{105,106}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,106}}</string>
                <key>sourceSize</key>
                <string>{107,118}</string>
            </dict>
            <key>Symbol 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,247},{88,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>Symbol 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{92,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{92,84}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>Symbol 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,151},{94,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,82}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>Symbol 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,151},{94,82}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,82}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>Symbol 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{92,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{92,84}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>Symbol 53.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,247},{88,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>Symbol 54.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,335},{92,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,87}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>Symbol 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,189},{92,85}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,85}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>Symbol 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,426},{94,83}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>Symbol 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,426},{94,83}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{94,83}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>Symbol 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,189},{92,85}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,85}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>Symbol 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,335},{92,87}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,87}}</string>
                <key>sourceSize</key>
                <string>{100,93}</string>
            </dict>
            <key>Symbol 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,276},{91,86}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{91,86}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
            <key>Symbol 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{129,126}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{129,126}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
            <key>Symbol 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{131,130}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{131,130}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
            <key>Symbol 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{151,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{151,144}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
            <key>Symbol 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,148}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{155,148}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet_cookie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f389c187058ad6aab51f749dea82ba1:1/1$</string>
            <key>pet_cookie.png</key>
            <string>pet8texture.png</string>
        </dict>
    </dict>
</plist>
