<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{259,0},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charShopBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,68}</string>
                <key>spriteSourceSize</key>
                <string>{121,68}</string>
                <key>textureRect</key>
                <string>{{36,0},{121,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,32}</string>
                <key>spriteSourceSize</key>
                <string>{102,32}</string>
                <key>textureRect</key>
                <string>{{157,0},{102,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,43}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{303,0},{44,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{347,0},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>petShopBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,66}</string>
                <key>spriteSourceSize</key>
                <string>{97,66}</string>
                <key>textureRect</key>
                <string>{{393,0},{97,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,68},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,59}</string>
                <key>spriteSourceSize</key>
                <string>{177,59}</string>
                <key>textureRect</key>
                <string>{{251,68},{177,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotExp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,46}</string>
                <key>spriteSourceSize</key>
                <string>{122,46}</string>
                <key>textureRect</key>
                <string>{{289,164},{122,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,57}</string>
                <key>spriteSourceSize</key>
                <string>{289,57}</string>
                <key>textureRect</key>
                <string>{{0,164},{289,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slotplay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,145}</string>
                <key>spriteSourceSize</key>
                <string>{292,145}</string>
                <key>textureRect</key>
                <string>{{0,221},{292,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{292,221},{57,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>treasureShopBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,66}</string>
                <key>spriteSourceSize</key>
                <string>{97,66}</string>
                <key>textureRect</key>
                <string>{{349,221},{97,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gui_main_lobby.png</string>
            <key>size</key>
            <string>{490,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab2486d22c0153041daf147f4189037:668522703a4bd094d555877aed8fad70:0906c7b7a014b60f3d2b7dbd482cd1c8$</string>
            <key>textureFileName</key>
            <string>gui_main_lobby.png</string>
        </dict>
    </dict>
</plist>
