<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{31,29},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{218,29},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{761,417}</string>
                <key>spriteSourceSize</key>
                <string>{761,417}</string>
                <key>textureRect</key>
                <string>{{0,965},{761,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{112,29},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{165,29},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{501,29},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char2Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,50}</string>
                <key>spriteSourceSize</key>
                <string>{35,50}</string>
                <key>textureRect</key>
                <string>{{77,29},{35,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charHpIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{639,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>charSkillIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{27,29}</string>
                <key>textureRect</key>
                <string>{{666,0},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character2Btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,53}</string>
                <key>spriteSourceSize</key>
                <string>{230,53}</string>
                <key>textureRect</key>
                <string>{{271,29},{230,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,254}</string>
                <key>spriteSourceSize</key>
                <string>{230,254}</string>
                <key>textureRect</key>
                <string>{{0,217},{230,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>featureSlot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,25}</string>
                <key>spriteSourceSize</key>
                <string>{183,25}</string>
                <key>textureRect</key>
                <string>{{456,0},{183,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{0,29},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBar 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,15}</string>
                <key>spriteSourceSize</key>
                <string>{111,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{111,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,19}</string>
                <key>spriteSourceSize</key>
                <string>{119,19}</string>
                <key>textureRect</key>
                <string>{{337,0},{119,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBarSlot 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,15}</string>
                <key>spriteSourceSize</key>
                <string>{111,15}</string>
                <key>textureRect</key>
                <string>{{111,0},{111,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelBarSlot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,15}</string>
                <key>spriteSourceSize</key>
                <string>{115,15}</string>
                <key>textureRect</key>
                <string>{{222,0},{115,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelSlot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,29}</string>
                <key>spriteSourceSize</key>
                <string>{189,29}</string>
                <key>textureRect</key>
                <string>{{693,0},{189,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noSelectedBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,61}</string>
                <key>spriteSourceSize</key>
                <string>{172,61}</string>
                <key>textureRect</key>
                <string>{{0,88},{172,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>productDetailBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{647,403}</string>
                <key>spriteSourceSize</key>
                <string>{647,403}</string>
                <key>textureRect</key>
                <string>{{260,562},{647,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{659,29},{158,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectedBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,68}</string>
                <key>spriteSourceSize</key>
                <string>{191,68}</string>
                <key>textureRect</key>
                <string>{{244,88},{191,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopWhiteSlot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,345}</string>
                <key>spriteSourceSize</key>
                <string>{260,345}</string>
                <key>textureRect</key>
                <string>{{490,217},{260,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopYellowSlot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,345}</string>
                <key>spriteSourceSize</key>
                <string>{260,345}</string>
                <key>textureRect</key>
                <string>{{0,562},{260,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopYellowSlot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,345}</string>
                <key>spriteSourceSize</key>
                <string>{260,345}</string>
                <key>textureRect</key>
                <string>{{230,217},{260,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,129}</string>
                <key>spriteSourceSize</key>
                <string>{312,129}</string>
                <key>textureRect</key>
                <string>{{435,88},{312,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{172,88},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_character_layer.png</string>
            <key>size</key>
            <string>{907,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7377195cc82e0e6675834696cbd01b11:d965474e7232fcd1119395686c3a10b2:febed083a59f4918d68e67307565d4bb$</string>
            <key>textureFileName</key>
            <string>lobby_character_layer.png</string>
        </dict>
    </dict>
</plist>
